<!-- =============== Navigation ================ -->
<div class="container">

    <!-- ======================= Cards ================== -->
    <div class="cardBox mb-5">
        <div class="card">
            <div>
                <div class="numbers">{{userCount}}</div>
                <div class="cardName">Customers</div>
            </div>

            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">{{orderCount}}</div>
                <div class="cardName">Orders</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">{{productCount}}</div>
                <div class="cardName">Products</div>
            </div>

            <div class="iconBx">
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">{{categoryCount}}</div>
                <div class="cardName">Categories</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <body>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

        <script>
            var xValues = ["Order placed","Packed", "Shipped", "Delivered", "Cancelled", "failed",""];
            var yValues = [{{placeOrderCount}},{{packedCount}},{{shippedCount}},{{deliveredCount}},{{cancelledCount}},{{failedCount}},0];
            var barColors = ["MediumSeaGreen","blue", "yellow", "green", "red", "Tomato",""];

            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Order Details"
                    }
                }
            });
        </script>
    </body>
</div>
</div>